#slider
  .callbacks_container
    %ul.rslides.pic_slider
      %li
        .text-wrap.text-center
          .inner
            .mid
              %h3 J'adore Botique Hotel
              %h1 vă spune bun venit!
        = image_tag 'slider-home/pic1.jpg'
      %li
        .text-wrap.text-center
          .inner
            .mid
              %h3 Va asteptam sa ne treceti pragul
              %h1 și să vă simtiți ca acasă
        = image_tag 'slider-home/pic2.jpg'
/ slider close
.clearfix
/ content begin
#content.no-top.no-bottom
  .fx.custom-carousel-1
    - @rooms.each do |room|
      .room-item.item
        .overlay
          %a{:href => "single-room.html"}
            %h1
              = room.title
          .desc
            = room.description
            .price
              %span
            = link_to 'Vezi Detalii', room_path(room.id), class: 'btn-border'

        - if room.pictures.present?
          = image_tag room.pictures.first.image.url(:medium)
%section
  .container
    .row
      .col-md-6
        .icon-box
          %i.fa.fa-bell-o
          .text
            %h3 Room Services
      .col-md-6
        .icon-box
          %i.fa.fa-coffee
          .text
            %h3 Cafea
      .col-md-6
        .icon-box
          %i.fa.fa-car
          .text
            %h3 Parcare Gratis
      .col-md-6
        .icon-box
          %i.fa.fa-dropbox
          .text
            %h3 Seif
%section#section-about-1.dark.side-bg
  .col-md-6.col-md-offset-6.pull-right.image-container
    .background-image
  .container
    .row
      .col-md-5
        .inner-padding
          %ul.client-quotes.animated{"data-animation" => "fadeIn"}
            - if @testimonial.present?
              - @testimonial.each do |testimonial|
                %li
                  .text
                    = testimonial.description
                  %span.name
                    = testimonial.name
                  %span.company
                    = testimonial.firm
        .clearfix
  .clearfix
%section.call-to-action.text-center
  = link_to 'https://www.booking.com/hotel/ro/j-39-adore-boutique.ro.html', class: 'btn btn-big-border' do
    Faceti
    o rezervare acum!
