%footer
  .container
    .row
      .col-md-4
        %h3
          = image_tag 'logo.png', :style => "width: 182px; height: 86px;"
        %h3
        Hotelul J'adore Boutique se află în orașul Lugoj din judeţul Timiş. Oferă piscină sezonieră în aer liber şi terasă. Oaspeții pot lua masa la restaurant. Există parcare privată gratuită.
      .col-md-4
        %h3 Social Media
        .social-icons
          %a{:href => "https://www.facebook.com/jadoreboutiquehotel/?fref=ts"}
            = image_tag 'social-icons/facebook.png'
        .clearfix
      .col-md-4
        %h3 Adresa
        %address
          %span J'adore Hotel
          %span
            Strada Caransebeșului
            nr.12
          %span Lugoj, Timis 305500
          %span
            Tel:
            %a{:href => "tel:0356008888"} (40) 356 008 888
          %span
            Email:
            %a{:href => "mailto:contact@jadorehotel.com"} contact@jadorehotel.ro
  .subfooter
    .container
      .row
        .col-md-6
          © Copyright 2017 -
          %a{:href => "http://holdmarketing.ro/"}
            %span{:style => "color: #888888;"}>
            Toate drepturile rezervate J’adore Hotel. Dezvoltat de Hold Marketing
        .col-md-6
          %nav
            %ul
              %li
                = link_to 'Acasa', '/'
              %li
                = link_to 'Piscina', piscina_path
              %li
                = link_to 'Restaurant', restaurants_path
              %li
                = link_to 'Sala de evenimente', evenimente_path
              %li
                = link_to 'Booking', 'https://www.booking.com/hotel/ro/j-39-adore-boutique.ro.html'
              %li
                = link_to 'Contact', contacts_path
