%header
  - if admin_signed_in?
    .container
      .admin-menu
        %span
          = link_to 'Camera noua', new_room_path
        %span
          = link_to 'Toate camerele', rooms_path
        %span
          = link_to 'Adauga poze pentru piscina', new_pool_path
        %span
          = link_to 'Sterge poze de la piscina', delete_pools_path
        %span
          = link_to 'Adauga poze pentru restaurant', new_restaurant_path
        %span
          = link_to 'Sterge poze de la restaurant', delete_restaurants_path
        %span
          = link_to 'Adauga poze pentru sala de evenimente', new_event_path
        %span
          = link_to 'Sterge poze de la sala de evenminete', delete_events_path
          
        = link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'pull-right'
  #logo
    .inner
      %a{:href => "/"}
        = image_tag 'logo.png'
  #mainmenu-container
    %ul#mainmenu
      %li
        = link_to 'Home', '/'
      %li
        = link_to 'Piscina', pools_path
      %li
        = link_to 'Restaurant', restaurants_path
      %li
        = link_to 'Sala de evenimente', events_path
      %li
        = link_to 'Booking'
      %li
        = link_to 'Contact', contacts_path
  #menu-btn
