%header
  - if admin_signed_in?
    .container-fluid
      .admin-menu
        %span
          = link_to 'Camera noua', new_room_path
        %span
          = link_to 'Toate camerele', rooms_path
        %span
          = link_to 'Adauga poze piscina', new_pool_path
        %span
          = link_to 'Sterge poze piscina', delete_pools_path
        %span
          = link_to 'Adauga poze restaurant', new_restaurant_path
        %span
          = link_to 'Sterge poze restaurant', delete_restaurants_path
        %span
          = link_to 'Adauga poze evenimente', new_event_path
        %span
          = link_to 'Sterge poze evenminete', delete_events_path
        %span
          = link_to 'Testimoniale', testimonials_path

        = link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'pull-right'
  #logo
    .inner
      %a{:href => "/"}
        = image_tag 'logo.png'
  #mainmenu-container
    %ul#mainmenu
      %li
        = link_to 'Acasa', '/'
      %li
        = link_to 'Piscina', piscina_path
      %li
        = link_to 'Restaurant', restaurants_path
      %li
        = link_to 'Sala de evenimente', evenimente_path
      %li
        = link_to 'Booking', 'https://www.booking.com/hotel/ro/j-39-adore-boutique.ro.html'
      %li
        = link_to 'Contact', contacts_path
  #menu-btn
