#content
  .container
    .row.room-list
      .col-md-12
        - @room.each do |room|
          .room-item-alt
            .col-md-5
              = image_tag room.pictures.first.image.url(:medium)
            .col-md-5
              .desc
                = link_to room_path(room) do
                  %h1
                    = room.title
                %p
                  = room.description
            .col-md-2.text-center
              = link_to 'Stergeti camera', room_path(room), class: 'btn btn-border', method: :delete, data: { confirm: 'Sunteti sigur?' }
              %br
              %br
              = link_to 'Editati camera', edit_room_path(room), class: 'btn btn-border'
            .clearfix
