#subheader
  %h3 Camera
  %h1
    = @room.title
#content
  .container
    .row
      .room-single
        .col-md-8
          %ul.slides.single-room-carousel
            - if @room.pictures.present?
              - @room.pictures.each do |picture|
                %li
                  = image_tag picture.image.url(:medium), class: 'img-responsive'
        .col-md-4
          .inner
            .text
              %h4 Prezentare
              %p
                = @room.description
              .room-specs
                %h4 Facilitati
                %ul
                  - @room.facilities.split(',').each do |facility|
                    %li
                      = facility
            .price
              = @room.price
              %span RON
              %span /noapte
            = link_to 'Rezerva acum', @room.link, class: 'btn btn-border'
    %hr/
    .row
      - @random_rooms.each do |random_room|
        -if random_room.pictures.present?
          .col-md-6
            .room-item.item
              .overlay
                = link_to random_room do
                  %h1
                    = random_room.title
                .desc
                  = random_room.description
                  .price
                    = random_room.price
                    %span Ron / noapte
                  = link_to 'Vedeti Detalii', random_room, class: 'btn btn-border'
              = image_tag random_room.pictures.first.image.url(:medium)
